# Dependencias de Node.js
node_modules/

# Archivos de entorno
.env

# Archivos de logs
logs/
*.log

# Carpetas de builds
dist/
build/

# Sistema operativo
.DS_Store

# Configuración del editor de código
.vscode/
.idea/